.container {
    display: grid;
    grid-template: auto / 1fr 4fr;
}

.sidebar {
    --red: 25;
    --green: 146;
    --blue: 212;

    display: grid;
    align-content: start;
    justify-content: start;
    gap: 30px;

    padding: 20px 0 0 0;
}

.sidebar div > div {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto 1fr;
    align-items: center;
    gap: 20px 0px;
}

.sidebar .logo svg {
    width: 2.5rem;
    height: auto;
}

.sidebar .logo p {
    font-size: 1.6rem;
}

.sidebar svg {
    justify-self: center;
}

.sidebar svg + p,
.user_name > p,
.user_greeting > p,
.user_name,
.user_name_handle {
    font-weight: bold;
}

/* content */
.content_view {
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 1fr auto;
}

/* content - nav */
.content_view .nav {
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 1fr 1fr;

    --red: 254;
    --green: 254;
    --blue: 254;
}

.content_view .nav > div {
    padding: 15px 50px;
}

.content_view .nav > div > div {
    width: 100%;

    display: flex;
    align-items: center;
    gap: 15px;
}

.content_view .nav .nav_up {
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-items: start;

}

.content_view .nav .nav_up .search input {
    width: 75%;
}

.content_view .nav .nav_up .user_config {
    gap: 20px;
}

.content_view .nav .nav_up .user_config > div {
    display: flex;
    justify-content: center;
    margin: auto;
}

.content_view .nav .nav_up .search input,
.content_view .nav .nav_up .user_config .user_name p {
    font-size: 1rem;
}

.content_view .nav .nav_up .user_config .user_image svg {
    width: 2.5rem;
    height: auto;
}

.content_view .nav .nav_down {
    display: flex;
    flex-flow: row wrap;
}

.content_view .nav .nav_down > div {
    width: auto;
}

.content_view .nav .nav_down .user_greeting_field {
    flex: 2 auto;
}

.content_view .nav .nav_down .actions {
    flex: 1 auto;
}

.content_view .nav .nav_down .user_greeting_field .user_image svg {
    width: 3rem;
    height: auto;
}

.content_view .nav .nav_down .user_greeting_field .user_greeting_message .user_greeting p {
    font-size: 0.8rem;
}

.content_view .nav .nav_down .user_greeting .user_greeting_message {
    flex: 1 80%;

    display: flex;
    flex-flow: row wrap;
}

.content_view .nav .nav_down .actions {
    gap: 30px;
}

.content_view .nav .nav_down .actions button {
    width: 80%;
    height: auto;

    border-radius: 25px;

    font-size: 1rem;

    padding: 10px 0;
}
/* content - nav */


/* content - content list */
.content_view .content {
    --red: 226;
    --green: 232;
    --blue: 240;

    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;

    padding: 30px 20px;
}

.content_view .content .content_list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: max-content;
    gap: 20px;
}

.content_view .content h2 {
    grid-column: 1 / -1;

    font-weight: 400;
}

.content_view .content .content_card {
    --red: 254;
    --green: 254;
    --blue: 254;

    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 10px 1fr;
    justify-content: center;
    align-content: center;

    border-radius: 10px;
}

.content_view .content .content_card .card_left {
    --red: 240;
    --green: 179;
    --blue: 41;

    border-radius: 10px 0 0 10px;
    grid-area: 1 / 1 / -1 / 2;
}

.content_view .content .content_card .card_right {
    display: grid;
    grid-template-rows: 1fr auto;
    gap: 20px;

    border-radius: 0px 10px 10px 0;

    padding: 30px 20px 20px 20px;

}

.content_view .content .content_card .card_details {
    justify-self: start;

    display: flex;
    flex-flow: column wrap;
}

.content_view .content .content_card .card_actions {
    justify-self: end;

    display: flex;
    gap: 30px;
}

.content_view .content .content_card .card_right .card_details .card_title {
    font-weight: bold;
}

.content_view .content .content_card .card_right .card_details > div {
    font-size: 0.8rem;
}

.content_view .content .content_card .card_right .card_details > div.card_title {
    font-size: 1rem;
}
/* content - content list */

/* content - newsletter */
.content_view .newsletter {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
}

.content_view .newsletter .announcements {
    display: grid;
    grid-auto-flow: row;
    gap: 20px;
}

.content_view .newsletter .announcements .announcement_list {
    --red: 254;
    --green: 254;
    --blue: 254;

    display: grid;
    grid-auto-flow: row;

    border-radius: 10px;

    padding: 10px 30px;
}

.content_view .newsletter .announcements .announcement_list > div {
    padding: 20px 5px;

    border-bottom: 1px solid grey;
}

.content_view .newsletter .announcements .announcement_list > div:last-child {
    border-bottom: none;
}

.content_view .newsletter .announcements .h2 {
    font-weight: 400;
}

.content_view .newsletter .announcements .announcement_list h3 {
    font-size: 0.7rem;
    font-weight: bold;
}

.content_view .newsletter .announcements .announcement_list p {
    font-size: 0.6rem;
}


@media screen and (max-width:800px){
    .container {
        grid-template: auto / 100px auto;
    }

    .sidebar {
        width: 100px;
    }

    .sidebar p {
        display: none;
    }

    .sidebar div > div {
        grid-template-columns: 1fr;
    }
}