@import url(font.css);

:root {
  --red: 255;
  --green: 255;
  --blue: 255;

  --threshold: 0.5;
  --border-threshold: 0.8;
}

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;

    background: rgb(var(--red), var(--green), var(--blue));

    --r: calc(var(--red) * 0.299);
    --g: calc(var(--green) * 0.587);
    --b: calc(var(--blue) * 0.114);
    --sum: calc(var(--r) + var(--g) + var(--b));

    --perceived-lightness: calc(var(--sum) / 255);

    color: hsl(0, 0%, calc((var(--perceived-lightness) - var(--threshold)) * -10000000%));
}

svg {
  width: 1.5rem;
  height: auto;
}

input,
button {
  width: 100%;
  height: auto;
  border: none;
  border-radius: 15px;
  padding: 5px 15px;
}

input {
  --red: 226;
  --green: 232;
  --blue: 240;
}

button {
  --red: 25;
  --green: 146;
  --blue: 212;
}

input:focus,
button:focus {
  appearance: none;
  box-shadow: inset 1px 1px 3px #ccc;
}